{% set site_name = 'Ostap Shvab github pages' %}
{% set site_url = 'shvabuk.github.io' %}
{% set site_image = 'https://shvabuk.github.io/assets/images/og.png' %}
{% set contact_email = 'shvabuk@gmail.com' %}
{% set contact_linkedin = 'https://www.linkedin.com/in/ostap-shvab-3a555341/' %}
{% set github_repository = 'https://github.com/shvabuk' %}


<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="{% block head_description %}{{ site_name }}. {{ head_page_description }}{% endblock %}">
        <meta content="Shvab Ostap" name="author">

        <meta property="og:image" content="{{ site_image }}">
        <meta property="og:image:secure_url" content="{{ site_image }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:image:alt" content="site-pallete">
        <meta property="og:image:type" content="image/png">
        <meta property="og:description" content="{{ site_name }}. {{ head_page_description }}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="{{ site_name }}">
        <meta property="og:title" content="{{ head_page_name }}">
        <meta property="og:url" content="https://{{ site_url }}/{{ link }}">
        <meta property="twitter:card" content="summary">
        <meta itemprop="image" content="{{ site_image }}">
        <meta itemprop="name" content="{{ head_page_name }}">
        <meta itemprop="description" content="{{ site_name }}. {{ head_page_description }}">

        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/180x180.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/32x32.png">
        <link rel="manifest" href="site.webmanifest">
        <meta name="theme-color" content="#02609d">

        <meta name="robots" content="noindex,nofollow">

        <title>{% block head_title %}{{ site_name }} | {{ head_page_name }}{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="assets/css/style.min.css">
    {% endblock %}
</head>
<body class="body">

    <nav class="navigation">
        {% block navigation %}
            {% include '_navigation.twig' %}
        {% endblock %}
    </nav>

    <header class="header">
        {% block header %}
            {# <div class="header-bg"></div> // TODO: animation #}
            <div class="container container--header">
                <h1 class="page-title">{% block page_title %}Ostap pages{% endblock %}</h1>
                {% block page_description %}<p>This is a site about me and my gitHub repositories</p>{% endblock %}
            </div>
        {% endblock %}
    </header>

    <div class="container content">

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>

        <div class="sidebars">
            {% block sidebars %}
                {% include 'sidebars/_author.twig' %}
            {% endblock %}
        </div>

    </div>

    <footer class="footer">
        {% block footer %}
            {% include '_footer.twig' %}
        {% endblock %}
    </footer>

    {% block scripts %}
        <script src="assets/js/index.min.js"></script>
    {% endblock %}

</body>
</html>
